<div class="news">
  <div class="alert alert-info" ng-if="!vm.feed">
    Please insert a feed url in the widget configuration
  </div>
  <div ng-if="vm.feed">
    <h3 ng-if="config.showTitle">
      <a ng-href="{{vm.feed.link}}" target="_blank">
        {{vm.feed.title}}
      </a>
    </h3>
    <p ng-if="config.showDescription">{{vm.feed.description}}</p>
    <div class="media" ng-repeat="entry in vm.feed.entries">
      <div class="media-body">
        <h4 class="media-heading">
          <a ng-href="{{entry.link}}" target="_blank">
            {{entry.title}}
          </a>
        </h4>
        <p>{{entry.contentSnippet}}</p>
        <small>{{entry.author}}, {{entry.publishedDate | toDate | date: 'yyyy-MM-dd HH:mm'}}</small>
      </div>
    </div>
  </div>
</div>
